@import "styles/variables";

.title {
  font-size: $font-size-32;
  font-weight: $font-weight-700;
  margin: $spacing-4;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: $spacing-4;
}
