@import "styles/colors";
@import "styles/variables";

.content {
  @apply bg-white p-6 mt-0 mx-6 mb-6;
}

.pageHeader {
  margin-bottom: theme("spacing.6"); // @apply mb-6; // valid as well
  :global {
    .ant-page-header-footer .ant-tabs .ant-tabs-tab {
      font-size: $font-size-14;
    }

    .ant-page-header-heading {
      flex-wrap: wrap;
    }
    .ant-page-header-heading-title {
      white-space: normal;
    }
    .ant-page-header-heading-extra {
      margin-left: auto;
    }
  }
}
