@import "styles/colors";
@import "styles/variables";

.navbar {
  width: 100%;
  padding: 0;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .navLeftContent {
    display: flex;
  }
  .navRightContent {
    display: flex;
    flex-direction: row-reverse;
  }
}

.sidebar {
  width: $sidebar-width !important;
  max-width: $sidebar-width !important;
  min-width: $sidebar-width !important;
  flex: 0 0 #{$sidebar-width} !important;
  position: fixed;
  overflow: auto;
  left: 0;
  height: 100vh;
}
